
.news-channel .well {
  margin-bottom: 10px;
  overflow: auto;
  min-height: 300px;
}

.container .well {
  margin-bottom: 10px;
  overflow: auto;
  min-height: 200px;
}

h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

#row-description {
  font-style: italic;
}

.news-title {
  text-align: left;
  text-transform: uppercase;
  text-decoration: underline;
}


.channel {
  text-align: center;
  background: #ffffff;
  padding: 10px 20px;
}

.news-thumb {
  vertical-align: middle;
  margin-top: 25px;
}

.channel-thumb {
  max-height: 100%;  
  max-width: 100%; 
  width: auto;
  height: auto;
  position: absolute;  
  top: 0;  
  bottom: 0;  
  left: 0;  
  right: 0;  
  margin: auto;
}