<div class="jumbotron text-center">
  <h1>MEAN App</h1>
  <p class="lead">Welcome to MEAN App. App built using Angular 2 on the front end and Node.js, JWT, Express on the back end</p>
  <div>
    <a class="btn btn-success" [routerLink] = "['/register']">Register</a>
    <a class="btn btn-success" [routerLink] = "['/login']">Login</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Express Backend</h3>
    <p>Node.js/Express server is used with Mongoose to organize model and query the Database</p>
  </div>
  <div class="col-md-4">
    <h3>Angular-CLI</h3>
    <p>Angular-CLI lets you easily get the angular 2 structure to kick-start your angular 2 application</p>
  </div>
  <div class="col-md-4">
    <h3>JWT Tokens</h3>
    <p>Fully featured authentication using JSON web tokens. Login and stores user data through given expire time</p>
  </div>
</div>